#image-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-carousel {
  min-width: 500px;
  min-height: 500px;
  max-height: 500px;
  max-width: 500px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); /* Optional: Set a background color */
  color: #fff; /* Optional: Set the arrow color */
  cursor: pointer;
  z-index: 1;
}

.custom-prev-arrow {
  left: -50px; /* Adjust the distance from the left side of the container */
}

.custom-next-arrow {
  right: -50px; /* Adjust the distance from the right side of the container */
}