.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height:300px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
  transition: all 0.5s;
}

.prev-button,
.next-button {
  top: 50%;
  padding: 10px;
  background-color: #ccc;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}
