.carousel-container {
  display: flex;
  overflow: hidden;
  width: 50%; 
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: all 0.5s;
}

.carousel-item {
  flex: 0 0 50%; /* Adjust the width of each item as needed */
}

.prev-button,
.next-button {
  top: 50%;
  padding: 10px;
  background-color: #ccc;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}
