#operations-form-container {
    display: absolute;
    flex-direction: column;
    justify-content: flex-start; /* Align at the top */
    align-items: center;
    width: 100%;
    height: 100%; /* Occupies the full height of the parent */
    text-align: center;
    margin-left: 5%;
}

#accordion-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align at the top */
    align-items: flex-end; /* Align at the right */
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 2%;
}

#parameter-input{
    background-color: #EAF4FF;
    border: none;
    outline: none;
}

